body {
  background: url('IMG_20250602_163459.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: #212529;
  font-family: Arial, sans-serif;
  padding: 20px;
}
header {
  background: transparent;
  color: white;
  padding: 10px 0 20px;
  font-style: italic;
}
#button-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  padding-top: 6%;
  font-weight: bold;
  text-shadow: 5px 5px 10px black;
}
h1 {
  font-size: 3em;
  margin-bottom: 10px;
    color: rgb(78, 45, 45);
  text-decoration: 6px solid rgb(228, 6, 43);
  font-weight: 600;
  font-style: italic;
  text-shadow: 14px 10px 10px black;
}
h2 {
  font-size: 3em;
  margin-bottom: 10px;
  color: rgb(78, 45, 45);
  text-decoration: aquamarine;
  font-weight: 600;
  font-style: italic;
  text-shadow: 14px 10px 10px black;
  padding-right: 40%;
}
@media screen {
  
  
  h1 {
    font-size: 30px;
    text-shadow: 10px 10px 10px rgb(20, 105, 161);
  }   
  h2 {
    font-size: 30px;
    text-shadow: 10px 10px 10px rgb(20, 105, 161);
    padding-right: 80%;
  }   
  #button-container {
    margin-top: 50px;
    text-shadow: 5px 5px 10px rgb(20, 105, 161);
    display: flex;
    align-items: center;
    justify-content: space-around;
    row-gap: 30px;

  }
  button {
  width: 100px;
  height: 70px;
  border: none;
  border-radius: 5px;
  background: rgb(20, 105, 161);
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: background 2s, transform 0.3s;
  }
}